@font-face {
  font-family: "am";
  src: url("/fonts/Arimo-Medium.woff2") format("woff2"),
    url("/fonts/Arimo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ar";
  src: url("/fonts/Arimo-Regular.woff2") format("woff2"),
    url("/fonts/Arimo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ab";
  src: url("/fonts/Arimo-Bold.woff2") format("woff2"),
    url("/fonts/Arimo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "asb";
  src: url("/fonts/Arimo-SemiBold.woff2") format("woff2"),
    url("/fonts/Arimo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
